<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button text="" default-href="/tabs/more"></ion-back-button>
        </ion-buttons>

        <ion-title>{{ $t("morePage.contact") }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list lines="full" class="ion-no-margin">
        <ion-list-header lines="full">
          <ion-label>
            {{ $t("morePage.contact") }} {{ currentUser.data.email }}
          </ion-label>
        </ion-list-header>

        <Form
          v-model:text="form.text"
          v-model:message="form.message"
          @submit="onSubmit"
        />
      </ion-list>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { ref } from "vue";
import Form from "@/components/Form.vue";
import {
  IonPage,
  IonToolbar,
  IonTitle,
  IonContent,
  IonButtons,
  IonBackButton,
  IonHeader,
  IonList,
  IonListHeader,
  IonLabel,
  toastController,
} from "@ionic/vue";
import { mapGetters } from "vuex";
import { useStore } from "vuex";
import { useRouter } from 'vue-router';
export default {
  computed: {
    ...mapGetters("user", ["currentUser"]),
  },
  setup() {
    const store = useStore();
    const router = useRouter()
    const form = ref({
      text: "",
      message: "",
    });

    const onSubmit = async () => {
      await store
        .dispatch("more/sendContactForm", {
          mail: store.getters["user/currentUser"].data.email,
          subject: form.value.text,
          message: form.value.message,
        })
        .then(async () => {
          const toast = await toastController.create({
            message: "Votre message a été envoyer avec succès !",
            position: "bottom",
            duration: 3000,
          });
          router.back();
          return toast.present();
        })
        .catch((err) => console.log("error", err));
    };

    return {
      form,
      router,
      onSubmit,
      store,
    };
  },
  components: {
    IonPage,
    IonToolbar,
    IonTitle,
    IonContent,
    IonButtons,
    IonBackButton,
    IonHeader,
    Form,
    IonList,
    IonListHeader,
    IonLabel,
  },
};
</script>

<style scoped>
</style>