<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button text="" default-href="/tabs/more"></ion-back-button>
        </ion-buttons>

        <ion-title>{{ $t("morePage.editProfile") }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      {{ $t("morePage.editProfile") }}
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonToolbar,
  IonTitle,
  IonContent,
  IonButtons,
  IonBackButton,
  IonHeader,
} from "@ionic/vue";
export default {
  components: {
    IonPage,
    IonToolbar,
    IonTitle,
    IonContent,
    IonButtons,
    IonBackButton,
    IonHeader,
  },
};
</script>

<style scoped>
</style>