<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button text="" default-href="/tabs/more"></ion-back-button>
        </ion-buttons>

        <ion-title>{{ $t("morePage." + page) }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div v-html="staticPage"></div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonToolbar,
  IonTitle,
  IonContent,
  IonButtons,
  IonBackButton,
  IonHeader,
} from "@ionic/vue";
import { mapActions } from "vuex";
import { useRoute } from "vue-router";
export default {
  props: {
    slug: {
      type: String,
      required: true,
    },
    rawHtml: {
      type: String,
      required: false
    }
  },
  data() {
    return {
      staticPage: "",
    };
  },
  components: {
    IonPage,
    IonToolbar,
    IonTitle,
    IonContent,
    IonButtons,
    IonBackButton,
    IonHeader,
  },
  setup() {
    const route = useRoute();
    const page = route.params.slug;
    const raw = route.params.rawHtml;
    return {
      route,
      page,
      raw,
    };
  },
  methods: {
    ...mapActions("more", ["loadStaticPage"]),
    async loadPage() {
      await this.loadStaticPage(this.page).then((res: any) => {
        this.staticPage = res.data;
      });
    },
    ionViewWillEnter() {
      if (this.page !== 'version') {
        this.loadPage();
      } else {
        this.staticPage = this.raw;
      }
    },
  },
};
</script>

<style scoped>
</style>
