<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button text="" default-href="/tabs/more"></ion-back-button>
        </ion-buttons>

        <ion-title>{{ $t("morePage." + page) }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-no-padding">
      <iframe :src="urlPath" class="container-iframe" frameborder="0"></iframe>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonToolbar,
  IonTitle,
  IonContent,
  IonButtons,
  IonBackButton,
  IonHeader,
} from "@ionic/vue";
import { useRoute } from "vue-router";
export default {
  props: {
    slug: {
      type: String,
      required: true,
    },
    url: {
      type: String,
      required: true,
    },
  },
  components: {
    IonPage,
    IonToolbar,
    IonTitle,
    IonContent,
    IonButtons,
    IonBackButton,
    IonHeader,
  },
  setup() {
    const route = useRoute();
    const urlPath = `${process.env.VUE_APP_ROOT_BASE_URL}${route.params.url}`;
    const page = route.params.slug;
    return {
      route,
      urlPath,
      page,
    };
  },
};
</script>

<style scoped>
.container-iframe {
  height: 100%;
  width: 100%;
}
</style>
