<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button text="" default-href="/tabs/more"></ion-back-button>
        </ion-buttons>
        <ion-title>chapitre</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">chapitre</ion-title>
        </ion-toolbar>
      </ion-header>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonHeader,
  IonToolbar,
  IonTitle,
  IonContent,
  IonBackButton,
  IonButtons,
} from "@ionic/vue";
import { mapGetters } from "vuex";
import { useRoute, useRouter } from "vue-router";
export default {
  name: "Chapter",
  props: {
    fanficId: {
      type: String,
      required: true,
    },
    chapterId: {
      type: String,
      required: true,
    },
  },
  components: {
    IonPage,
    IonHeader,
    IonToolbar,
    IonTitle,
    IonContent,
    IonBackButton,
    IonButtons,
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters("user", ["currentUser"]),
  },
  setup(props, context) {
    console.log(props);
    console.log(context);
    const route = useRoute();
    const router = useRouter();

    return {
      router,
      route,
    };
  },
};
</script>

<style scoped>
</style>