<template>
  <ion-page>
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button
            text=""
            default-href="/tabs/browse-fanfictions"
          ></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button
            @click="
              hasLiked(fanfic?.users_like)
                ? unfavorite(fanfic?.id)
                : favorite(fanfic?.id)
            "
          >
            <ion-icon
              slot="icon-only"
              :icon="isLiked(fanfic?.users_like)"
            ></ion-icon>
          </ion-button>
          <ion-button
            @click="
              isFollowedFanfic(fanfic?.id)
                ? disFollowFanfic(fanfic?.id)
                : followFanfic(fanfic?.id)
            "
          >
            <ion-icon
              slot="icon-only"
              :icon="hasFollowedFanfic(fanfic?.id)"
            ></ion-icon>
          </ion-button>
          <ion-button @click="openInfoModal">
            <ion-icon slot="icon-only" :icon="informationOutline"></ion-icon>
          </ion-button>
          <ion-button
            v-if="!fanfic?.fanfic_is_scraped"
            @click="downloadPdf(fanfic?.id)"
          >
            <ion-icon slot="icon-only" :icon="arrowDownOutline"></ion-icon>
          </ion-button>
          <ion-button @click="share(fanfic?.id)">
            <ion-icon slot="icon-only" :icon="shareSocialOutline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div>{{ fanfic?.category }}</div>
      <div>{{ fanfic?.genres }}</div>
      <div>{{ fanfic?.title }}</div>
      <p>{{ fanfic?.author?.username }}</p>
      <div>{{ readMore(fanfic?.synopsis, 120, "...") }}</div>
      <div class="row-rating">
        <div>
          <ion-icon slot="icon-only" :icon="eyeOutline"></ion-icon
          >{{ fanfic?.views }}
        </div>
        <div class="ion-padding">
          <ion-icon slot="icon-only" :icon="heartCircleOutline"></ion-icon
          >{{ fanfic?.total_likes }}
        </div>
        <div>{{ fanfic?.classement }}</div>
      </div>
      <ion-item
        v-for="(chapter, idx) in fanfic?.chapters"
        :key="idx"
        @click="
          router.push(
            `/fanfic/${Number(fanfic?.id)}/chapter/${Number(chapter?.id)}`
          )
        "
      >
        <ion-thumbnail slot="start">
          <img :src="require('@/assets/images/image-default.png')" />
        </ion-thumbnail>
        <ion-label>
          <h3>{{ chapter?.title }}</h3>
          <p>{{ dateFormat(chapter?.published) }}</p>
        </ion-label>
        <ion-note slot="end" color="primary">#{{ chapter?.order }}</ion-note>
      </ion-item>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonHeader,
  IonToolbar,
  IonContent,
  IonIcon,
  IonButtons,
  IonButton,
  IonBackButton,
  IonItem,
  IonLabel,
  IonThumbnail,
  IonNote,
  modalController,
  toastController,
} from "@ionic/vue";
import {
  menuOutline,
  close,
  chevronBack,
  shareSocialOutline,
  arrowDownOutline,
  informationOutline,
  checkmarkOutline,
  checkmarkDoneOutline,
  heartCircleOutline,
  eyeOutline,
  heartSharp,
  heartOutline,
} from "ionicons/icons";
import { useRoute, useRouter } from "vue-router";
import { useStore } from "vuex";
import { ref } from "vue";
import moment from "moment";
import { mapGetters, mapMutations } from "vuex";
import ShareModal from "@/components/fanfic/ShareModal.vue";
import InfoModal from "@/components/fanfic/InfoModal.vue";

export default {
  name: "DetailFanfic",
  props: {
    slug: {
      type: String,
      required: true,
    },
  },
  components: {
    IonHeader,
    IonToolbar,
    IonContent,
    IonPage,
    IonIcon,
    IonButtons,
    IonButton,
    IonBackButton,
    IonItem,
    IonLabel,
    IonThumbnail,
    IonNote,
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters("user", ["currentUser"]),
    ...mapMutations("protectedArea", ["incrementLike", "decrementLike"]),
  },
  setup() {
    const route = useRoute();
    const router = useRouter();
    const fanficSlug = route.params.slug;
    const store = useStore();
    const fanfic = ref({});
    const like = ref(false);
    const isStoryFollowed = ref(false);
    const storiesFollowed = ref([]) as any;

    const favorite = async (fanficId: number) => {
      await store
        .dispatch("fanfic/favoriteFanfic", {
          userId: store.getters["user/currentUser"].data.id,
          fanficId,
        })
        .then(() => {
          store.commit("protectedArea/incrementLike");
          like.value = true;
        })
        .catch((err) => console.log("err", err));
    };

    const modalCloseHandler = async (data) => {
      if (data.success) {
        await store
          .dispatch("fanfic/shareFanfic", {
            fanficId: data.fanficId,
            name: store.getters["user/currentUser"].data.username,
            email: store.getters["user/currentUser"].data.email,
            to: data.to,
            comments: data.comments,
          })
          .then(async () => {
            const toast = await toastController.create({
              message: "Fanfiction partagée avec succès !",
              position: "bottom",
              duration: 300,
            });

            return toast.present();
          })
          .catch((err) => console.log("error", err));
      }
    };

    const share = async (fanficId: number) => {
      const modal = await modalController.create({
        component: ShareModal,
        cssClass: "share-modal",
        componentProps: {
          fanficId,
        },
      });
      await modal.present();
      const modalResponse = await modal.onDidDismiss();
      modalResponse.data && modalCloseHandler({ ...modalResponse.data });
    };

    const openInfoModal = async () => {
      const modal = await modalController.create({
        component: InfoModal,
        cssClass: "share-modal",
        componentProps: {
          fanfic: fanfic.value,
        },
      });
      await modal.present();
    };

    const downloadPdf = async (fanficId: number) => {
      window.open(
        `${process.env.VUE_APP_ROOT_BASE_URL}help/fanfic/${fanficId}/pdf`,
        "_blank"
      );
    };

    const getStoriesFollowed = async () => {
      try {
        const response = await store.dispatch("user/getFollowStories");
        const stories = response.data ? response.data : [];
        storiesFollowed.value = stories.map((s: any) => { 
          const tmp = {
            toFanfic: s.to_fanfic,
            fromUser: s.from_user
          }
          return tmp
        });
        console.log(storiesFollowed.value.find(s => s.toFanfic === 104 && s.fromUser === 9))
      } catch (error) {
        console.log("error", error);
      }
    };
    const isFollowedFanfic = (fanficId: number) => {
      if (fanficId === undefined) {
        return;
      }
      const fromUser = store.getters["user/currentUser"].data.id;
      
      const fanficIdFollowed = storiesFollowed.value.find(s => s.toFanfic === fanficId && s.fromUser === fromUser);

      return fanficIdFollowed != undefined ? true : false;
    };
    const hasFollowedFanfic = (fanficId: number) => {
      if (fanficId === undefined) {
        return;
      }
      const fromUser = store.getters["user/currentUser"].data.id;
      const fanficIdFollowed = storiesFollowed.value.find(s => s.toFanfic === fanficId && s.fromUser === fromUser);

      return fanficIdFollowed != undefined ? checkmarkDoneOutline : checkmarkOutline;
    };

    const followFanfic = async (fanficId: number) => {
      await store
        .dispatch("user/addStory", {
          fanficId,
          fromUser: store.getters["user/currentUser"].data.id,
        })
        .then(() => {
          isStoryFollowed.value = true;
        })
        .catch((err) => console.log("error", err));
    };
    const disFollowFanfic = async (fanficId: number) => {
      await store
        .dispatch("user/deleteStory", {
          fanficId,
          userId: store.getters["user/currentUser"].data.id,
        })
        .then(() => {
          isStoryFollowed.value = false;
        })
        .catch((err) => console.log("error", err));
    };

    const unfavorite = async (fanficId: number) => {
      await store
        .dispatch("fanfic/unfavoriteFanfic", {
          userId: store.getters["user/currentUser"].data.id,
          fanficId,
        })
        .then(() => {
          store.commit("protectedArea/decrementLike");
          like.value = false;
        })
        .catch((err) => console.log("err", err));
    };

    const loadFanfic = async () => {
      try {
        const response = await store.dispatch("protectedArea/loadFanfic", {
          slug: fanficSlug,
          status: "publié",
        });
        fanfic.value = response.data;
      } catch (error) {
        console.log("error", error);
      }
    };

    const dateFormat = (obj) => {
      return moment(obj).format("DD/MM/YYYY");
    };

    const readMore = (text, length, suffix) => {
      const line = text ? text.substring(0, length) : "";
      return line + suffix;
    };

    const isLiked = (userIds: number[]) => {
      if (userIds === undefined) {
        return;
      }
      const userIdsLiked = userIds.includes(
        store.getters["user/currentUser"].data.id
      );
      return userIdsLiked || like.value ? heartSharp : heartOutline;
    };

    const hasLiked = (userIds: number[]) => {
      if (userIds === undefined) {
        return;
      }
      const userIdsLiked = userIds.includes(
        store.getters["user/currentUser"].data.id
      );
      return userIdsLiked ? true : false;
    };

    loadFanfic();
    getStoriesFollowed();

    return {
      store,
      router,
      hasLiked,
      unfavorite,
      favorite,
      fanfic,
      route,
      hasFollowedFanfic,
      like,
      followFanfic,
      modalCloseHandler,
      downloadPdf,
      dateFormat,
      loadFanfic,
      isLiked,
      share,
      readMore,
      openInfoModal,
      isFollowedFanfic,
      disFollowFanfic,
      menuOutline,
      close,
      chevronBack,
      shareSocialOutline,
      arrowDownOutline,
      informationOutline,
      checkmarkDoneOutline,
      checkmarkOutline,
      fanficSlug,
      heartCircleOutline,
      eyeOutline,
      heartSharp,
      heartOutline,
    };
  },
};
</script>

<style scoped>
.row-rating {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}
</style>