<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button text="" default-href="/tabs/more"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ $t("notificationsPage.title") }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">{{
            $t("notificationsPage.title")
          }}</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-list>
        <ion-item v-for="(notification, i) in notifications" :key="i">
          <ion-label
            >{{ notification.user.username }} {{ notification.verb }}
            {{ notification.target }}
          </ion-label>
        </ion-item>
      </ion-list>

      <!-- Skeleton screen -->
      <div v-if="loading">
        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
              <h3>
                <ion-skeleton-text
                  animated
                  style="width: 50%"
                ></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text
                  animated
                  style="width: 80%"
                ></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text
                  animated
                  style="width: 60%"
                ></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
              <h3>
                <ion-skeleton-text
                  animated
                  style="width: 50%"
                ></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text
                  animated
                  style="width: 80%"
                ></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text
                  animated
                  style="width: 60%"
                ></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
              <h3>
                <ion-skeleton-text
                  animated
                  style="width: 50%"
                ></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text
                  animated
                  style="width: 80%"
                ></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text
                  animated
                  style="width: 60%"
                ></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>

      <div class="ion-text-center">
        <ion-button
          shape="round"
          color="light"
          v-show="!isDisabled"
          @click="fetchNextNotifications($event)"
        >
          <ion-icon slot="icon-only" :icon="reload"></ion-icon>
        </ion-button>
      </div>

      <ExploreContainer
        v-if="!loading && notifications.length === 0"
        :name="$t('notificationsPage.notificationNotFound')"
      />
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonHeader,
  IonToolbar,
  IonTitle,
  IonContent,
  IonBackButton,
  IonButtons,
  IonAvatar,
  IonList,
  IonSkeletonText,
  IonItem,
  IonLabel,
  IonButton,
  IonIcon,
} from "@ionic/vue";
import { reload } from "ionicons/icons";
import ExploreContainer from "@/components/ExploreContainer.vue";
import { mapActions } from "vuex";

export default {
  name: "Notifications",
  data() {
    return {
      notifications: [],
      pageSize: 4,
      currentOffset: 0,
      isDisabled: true,
      loading: false,
    };
  },
  setup() {
    return {
      reload,
    };
  },
  methods: {
    ...mapActions("protectedArea", ["loadNotifications"]),
    async fetchNotifications() {
      this.loading = true;
      await this.loadNotifications({
        pageSize: this.pageSize,
        offset: this.currentOffset,
      }).then((res: any) => {
        console.log(res);
        this.notifications = res.data.results;
        this.loading = false;
        if (this.notifications.length >= 1) {
          this.isDisabled = false;
        }
      });
    },
    async fetchNextNotifications() {
      this.loading = true;
      await this.loadNotifications({
        pageSize: this.pageSize,
        offset: (this.currentOffset = this.currentOffset + 4),
      }).then((res: any) => {
        this.loading = false;
        if (res.data.next === null) {
          this.isDisabled = true;
        } else {
          this.isDisabled = false;
        }
        this.notifications.push(...res.data.results);
      });
    },
    ionViewDidEnter() {
      this.fetchNotifications();
    },
  },
  components: {
    ExploreContainer,
    IonHeader,
    IonToolbar,
    IonTitle,
    IonContent,
    IonPage,
    IonBackButton,
    IonButtons,
    IonItem,
    IonAvatar,
    IonSkeletonText,
    IonLabel,
    IonList,
    IonIcon,
    IonButton,
  },
};
</script>