<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button
            text=""
            default-href="/tabs/browse-fanfictions"
          ></ion-back-button>
        </ion-buttons>
        <ion-title>{{ $t(`rankingPage.${titlePage}`)}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">{{ $t(`rankingPage.${titlePage}`)}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <div>
        <ion-list>
          <ion-item v-for="(fanfic, idx) in filteredFanfics" :key="idx" @click="router.push(`/fanfic/${fanfic?.slug}`)">
            <ion-avatar slot="start">
              <img :src="require('@/assets/images/image-default.png')" />
            </ion-avatar>
            <ion-label>
              <h3>
                {{ fanfic?.title }}
              </h3>
              <p>
                {{ fanfic?.author?.username }}
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>

      <!-- Skeleton screen -->
      <div v-if="loading">
        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
              <h3>
                <ion-skeleton-text
                  animated
                  style="width: 50%"
                ></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text
                  animated
                  style="width: 80%"
                ></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text
                  animated
                  style="width: 60%"
                ></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
              <h3>
                <ion-skeleton-text
                  animated
                  style="width: 50%"
                ></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text
                  animated
                  style="width: 80%"
                ></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text
                  animated
                  style="width: 60%"
                ></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
              <h3>
                <ion-skeleton-text
                  animated
                  style="width: 50%"
                ></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text
                  animated
                  style="width: 80%"
                ></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text
                  animated
                  style="width: 60%"
                ></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
      <div class="ion-text-center">
      <ion-button
      shape="round"
      color="light"
      v-if="filteredFanfics.length"
      :disabled="isDisabled"
        @click="fetchData($event)"
      >
        <ion-icon slot="icon-only" :icon="reload"></ion-icon>
      </ion-button>
      </div>
      <ExploreContainer
        v-if="!loading && filteredFanfics.length === 0"
        :name="$t('rankingPage.notFoundLabel')"
      />
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonHeader,
  IonToolbar,
  IonTitle,
  IonContent,
  IonBackButton,
  IonButtons,
  IonAvatar,
  IonItem,
  IonLabel,
  IonList,
  IonSkeletonText,
  IonButton,
  IonIcon
} from "@ionic/vue";
import {
  reload

} from "ionicons/icons";
import ExploreContainer from "@/components/ExploreContainer.vue";
import { useRoute, useRouter } from "vue-router";
import { useStore } from "vuex";
import { ref } from "vue";
import { pageSize } from "@/constants";

export default {
  name: "Ranking",
  setup() {
    const router = useRouter();
    const route = useRoute();
    const keyword = route.query.keyword;
    const params = route.query.params;
    const store = useStore();
    const filteredFanfics = ref([]) as any;
    const hasMore = ref(true);
    const isDisabled = ref(false);
    const loading = ref(false);
    const offsetNumber = ref(0);
    const titlePage = ref(keyword);

    const filteredFanficsByCategorySlug = async (keyword) => {
      loading.value = true;
      await store
        .dispatch("protectedArea/loadFanficsByCategorySlug", {
          categorySlug: keyword,
          pageSize,
          offset: offsetNumber.value,
        })
        .then((response) => {
          const newFanfics = response.data.results;
          hasMore.value = response.data.next;
          loading.value = false;
          filteredFanfics.value = [...filteredFanfics.value, ...newFanfics];
          offsetNumber.value = offsetNumber.value + pageSize;
        })
        .catch((err) => {
          console.log("err", err);
          loading.value = false;
        });
    };

    const filteredAllCategories = async () => {
      loading.value = true;
      await store
        .dispatch("protectedArea/loadCategories", {
          pageSize,
          offset: offsetNumber.value,
        })
        .then((response) => {
          const newFanfics = response.data.results;
          hasMore.value = response.data.next;
          loading.value = false;
          filteredFanfics.value = [...filteredFanfics.value, ...newFanfics];
          offsetNumber.value = offsetNumber.value + pageSize;
        })
        .catch((err) => {
          console.log("err", err);
          loading.value = false;
        });
    };

    const filteredFanficsOrderByKeword = async (keyword) => {
      loading.value = true;
      await store
        .dispatch("protectedArea/loadFanficsOrderByKeyword", {
          keyword,
          pageSize,
          offset: offsetNumber.value,
        })
        .then((response) => {
          const newFanfics = response.data.results;
          hasMore.value = response.data.next;
          loading.value = false;
          filteredFanfics.value = [...filteredFanfics.value, ...newFanfics];
          offsetNumber.value = offsetNumber.value + pageSize;
        })
        .catch((err) => {
          console.log("err", err);
          loading.value = false;
        });
    };

    const filteredFanficsByGenre = async (keyword) => {
      loading.value = true;
      await store
        .dispatch("protectedArea/loadFanficsByGenre", {
          genre: keyword,
          pageSize,
          offset: offsetNumber.value,
        })
        .then((response) => {
          const newFanfics = response.data.results;
          hasMore.value = response.data.next;
          loading.value = false;
          filteredFanfics.value = [...filteredFanfics.value, ...newFanfics];
          offsetNumber.value = offsetNumber.value + pageSize;
        })
        .catch((err) => {
          console.log("err", err);
          loading.value = false;
        });
    };

    const searchFanfics = async (keyword) => {
      loading.value = true;
      await store
        .dispatch("protectedArea/searchFanfics", {
          fields: keyword,
          pageSize,
          offset: offsetNumber.value,
        })
        .then((response) => {
          const newFanfics = response.data.results;
          hasMore.value = response.data.next;
          loading.value = false;
          filteredFanfics.value = [...filteredFanfics.value, ...newFanfics];
          offsetNumber.value = offsetNumber.value + pageSize;
        })
        .catch((err) => {
          console.log("err", err);
          loading.value = false;
        });
    };

    if (loading.value || hasMore.value === null) {
      isDisabled.value = true;
    }

    const fetchData = (ev?: any) => {
      console.log('ev', ev);
      switch (keyword) {
        case "popular":
          filteredFanficsOrderByKeword("views");
          break;
        case "newest":
          filteredFanficsOrderByKeword("created");
          break;
        case "recommended":
          // todo
          break;
        case "all-categories":
          filteredAllCategories();
          break;
        case "genres":
          filteredFanficsByGenre(params);
          break;
        case "search":
          searchFanfics(params)
          break;

        default:
          filteredFanficsByCategorySlug(keyword);
          break;
      }
    } 

    fetchData();

    return {
      router,
      route,
      keyword,
      params,
      store,
      filteredFanfics,
      filteredFanficsByCategorySlug,
      filteredFanficsOrderByKeword,
      filteredAllCategories,
      loading,
      fetchData,
      reload,
      isDisabled,
      titlePage
    };
  },
  components: {
    ExploreContainer,
    IonHeader,
    IonToolbar,
    IonTitle,
    IonContent,
    IonPage,
    IonBackButton,
    IonButtons,
    IonAvatar,
    IonItem,
    IonLabel,
    IonList,
    IonSkeletonText,
    IonButton,
    IonIcon
  },
};
</script>

<style scoped>
.custom-skeleton ion-skeleton-text {
  line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 5px;
}

</style>