<template>
  <ion-page>
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-title>{{ $t("browsePage.title") }}</ion-title>
        <ion-buttons slot="end">
          <ion-button @click="router.push('/notifications')">
            <ion-icon slot="icon-only" :icon="notificationsOutline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">{{ $t("browsePage.title") }}</ion-title>
        </ion-toolbar>
      </ion-header>
      <!-- newest fanfics -->
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">{{
          $t("browsePage.newestFanfictions")
        }}</ion-label>
        <ion-buttons slot="end">
          <ion-button
            @click="
              router.push({ path: '/ranking', query: { keyword: 'newest' } })
            "
          >
            <ion-icon
              slot="icon-only"
              :icon="chevronForward"
              size="small"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <swiper
        effect="fade"
        navigation
        :pagination="{ clickable: true }"
        @swiper="onSwiper"
        @slideChange="onSlideChange"
      >
        <swiper-slide
          v-for="newFanfic in state.newestFanfics"
          :key="newFanfic"
          @click="router.push(`/fanfic/${newFanfic.slug}`)"
        >
          <img
            v-if="newFanfic.picture != null"
            :src="newFanfic.picture"
            :alt="newFanfic.title"
            @error="errorImage($event)"
          />
          <img
            v-else
            :src="require('@/assets/images/image-default.png')"
            :alt="newFanfic.title"
          />
        </swiper-slide>
      </swiper>

      <!-- liked fanfics -->
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          {{ $t("browsePage.likedFanfictions") }}
        </ion-label>
        <ion-buttons slot="end">
          <ion-button
            @click="
              router.push({ path: '/ranking', query: { keyword: 'popular' } })
            "
          >
            <ion-icon
              slot="icon-only"
              :icon="chevronForward"
              size="small"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <swiper
        :slides-per-view="3"
        :space-between="20"
        :scrollbar="{ draggable: true }"
        @swiper="onSwiper"
        @slideChange="onSlideChange"
        class="carousel"
      >
        <swiper-slide
          v-for="likeFanfic in state.likedFanfics"
          :key="likeFanfic"
          @click="router.push(`/fanfic/${likeFanfic.slug}`)"
          ><img
            v-if="likeFanfic.picture != null"
            :src="likeFanfic.picture"
            :alt="likeFanfic.title"
            @error="errorImage($event)"
          />
          <img
            v-else
            :src="require('@/assets/images/image-default.png')"
            :alt="likeFanfic.title"
          />
        </swiper-slide>
      </swiper>

      <!-- recommended fanfics -->
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">{{
          $t("browsePage.recommendedFanfictions")
        }}</ion-label>
        <ion-buttons slot="end">
          <ion-button
            @click="
              router.push({
                path: '/ranking',
                query: { keyword: 'recommended' },
              })
            "
          >
            <ion-icon
              slot="icon-only"
              :icon="chevronForward"
              size="small"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap" v-if="!state.mostRecoFanfics.length">
          {{ $t("genericLabel.categorieNotExist") }}
        </ion-label>
      </ion-item>
      <swiper
        :slides-per-view="3"
        :space-between="20"
        :scrollbar="{ draggable: true }"
        @swiper="onSwiper"
        @slideChange="onSlideChange"
        class="carousel"
      >
        <swiper-slide
          v-for="recoFanfic in state.mostRecoFanfics"
          :key="recoFanfic"
          @click="router.push(`/fanfic/${recoFanfic.slug}`)"
          ><img
            v-if="recoFanfic.picture != null"
            :src="recoFanfic.picture"
            :alt="recoFanfic.title"
            @error="errorImage($event)"
          />
          <img
            v-else
            :src="require('@/assets/images/image-default.png')"
            :alt="recoFanfic.title"
          />
        </swiper-slide>
      </swiper>

      <!-- categories -->
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          {{ $t("browsePage.allCategories") }}
        </ion-label>
        <ion-buttons slot="end">
          <ion-button
            @click="
              router.push({
                path: '/ranking',
                query: { keyword: 'all-categories' },
              })
            "
          >
            <ion-icon
              slot="icon-only"
              :icon="chevronForward"
              size="small"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <swiper
        :slides-per-view="3"
        :space-between="20"
        :scrollbar="{ draggable: true }"
        @swiper="onSwiper"
        @slideChange="onSlideChange"
        class="carousel"
      >
        <swiper-slide
          v-for="category in state.allCategories"
          :key="category"
          @click="
            router.push({
              path: '/ranking',
              query: { keyword: category.logic_value },
            })
          "
          ><img
            :src="
              require('@/assets/images/categories/' + category.logic_value + '.jpg')
            "
            :alt="category.name"
        /></swiper-slide>
      </swiper>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonHeader,
  IonToolbar,
  IonTitle,
  IonContent,
  IonIcon,
  IonButtons,
  IonLabel,
  IonButton,
  IonItem,
} from "@ionic/vue";
import { notificationsOutline, chevronForward } from "ionicons/icons";
import { useRouter } from "vue-router";
import SwiperCore, {
  Navigation,
  Pagination,
  Scrollbar,
  A11y,
  EffectFade,
} from "swiper";

import { Swiper, SwiperSlide } from "swiper/vue";
import "swiper/swiper.scss";
import "swiper/components/effect-fade/effect-fade.scss";
import "swiper/components/navigation/navigation.scss";
import "swiper/components/pagination/pagination.scss";
import "swiper/components/scrollbar/scrollbar.scss";
import { useStore } from "vuex";
import { onMounted, reactive } from "@vue/runtime-core";

SwiperCore.use([EffectFade, Navigation, Pagination, Scrollbar, A11y]);

export default {
  name: "Browse",
  components: {
    Swiper,
    SwiperSlide,
    IonHeader,
    IonToolbar,
    IonTitle,
    IonContent,
    IonPage,
    IonIcon,
    IonButtons,
    IonButton,
    IonItem,
    IonLabel,
  },
  data() {
    return {};
  },
  setup() {
    const router = useRouter();
    const store = useStore();
    const state = reactive({
      allCategories: [],
      newestFanfics: [],
      likedFanfics: [],
      mostRecoFanfics: [],
    });

    onMounted(async () => {
      await store.dispatch("protectedArea/loadSecretArea").then(
        (response: any) => {
          state.allCategories = response.data.all_categories;
          state.newestFanfics = response.data.newest_fanfics;
          state.likedFanfics = response.data.most_liked_fanfics;
          state.mostRecoFanfics = response.data.recommended_fanfics;
        },
        (error) => {
          console.error(
            error,
            "Got nothing from server. Prompt user to check internet connection and try again"
          );
        }
      );
    });

    return {
      router,
      notificationsOutline,
      chevronForward,
      store,
      state,
    };
  },
  methods: {
    errorImage(event: any) {
      event.target.src = require("@/assets/images/image-default.png");
    },
    onSwiper(swiper: any) {
      console.log("swiper", swiper);
    },
    onSlideChange() {
      console.log("slide on change");
    },
  },
};
</script>

<style scoped>
.carousel .swiper-slide {
  border-radius: 10px;
  box-shadow: -1px 11px 8px -6px rgb(87, 86, 86, 0.5);
  overflow: hidden;
  height: auto;
  min-height: 100px;
}

.carousel .swiper-slide img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
</style>