<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ $t("favorisPage.title") }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">{{ $t("favorisPage.title") }}</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-segment @ionChange="segmentChanged($event)" v-model="segment" color="secondary">
        <ion-segment-button value="authors">
          <ion-label>{{ $t("favorisPage.favoriteAuthors") }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="stories">
          <ion-label>{{ $t("favorisPage.favoriteStories") }}</ion-label>
        </ion-segment-button>
      </ion-segment>

      <template v-if="segment === 'authors'">
        <ion-list>

        <ion-item-sliding v-for="(fanfiction, idx) in fanfictionsFormatted" :key="idx">
          <ion-item>
            <ion-label>{{ fanfiction.username}}</ion-label>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option @click="disFollowAuthor(fanfiction?.id, $t('genericLabel.cancel'), $t('genericLabel.valid'), $t('favorisPage.deleteStoryLabel', {n: fanfiction?.username}),)" color="danger">{{ $t('favorisPage.deleteLabel')}}</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      </template>
      <template v-else>
        <ion-list>

        <ion-item-sliding v-for="(fanfiction, idx) in fanfictionsFormatted" :key="idx">
          <ion-item button @click="router.push(`/fanfic/${fanfiction.slug}`)">
            <ion-label>{{ fanfiction.title}}</ion-label>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option @click="disFollowFanfic(fanfiction?.id, $t('genericLabel.cancel'), $t('genericLabel.valid'), $t('favorisPage.deleteStoryLabel', {n: fanfiction?.title}),)" color="danger">{{ $t('favorisPage.deleteLabel')}}</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      </template>

      <ExploreContainer
        v-if="fanfictionsFormatted && fanfictionsFormatted.length === 0"
        :name="$t('favorisPage.notFoundLabel')"
      />
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonHeader,
  IonToolbar,
  IonTitle,
  IonContent,
  IonSegment,
  IonSegmentButton,
  IonLabel,
  IonList,
  IonItemSliding,
  IonItemOptions,
  IonItemOption,
  IonItem,
  alertController
} from "@ionic/vue";
import ExploreContainer from "@/components/ExploreContainer.vue";
import { useStore } from "vuex";
import { mapGetters } from "vuex";
import { ref } from "@vue/reactivity";
import { onMounted } from "@vue/runtime-core";
import { useRouter } from 'vue-router';
// import { mapActions } from 'vuex';

export default {
  name: "Dashboard",
  components: {
    ExploreContainer,
    IonHeader,
    IonToolbar,
    IonTitle,
    IonContent,
    IonPage,
    IonSegment,
    IonSegmentButton,
    IonLabel,
    IonList,
    IonItemSliding,
    IonItemOptions,
    IonItemOption,
    IonItem
  },
  computed: {
    ...mapGetters("user", ["currentUser"]),
  },
  setup() {
    const store = useStore();
    const router = useRouter();
    const fanfictionsFormatted = ref([]) as any;
    const segment = ref("") as any;
    let fanfictionResponse = {} as any;
    segment.value = "authors";

    const segmentChanged = (ev: CustomEvent) => {
      console.log("Segment changed", ev.detail.value);
      segment.value = ev.detail.value;
      switch (segment.value) {
        case 'stories':
          fanfictionsFormatted.value = fanfictionResponse.data.fav_stories;
          break;
      
        default:
          fanfictionsFormatted.value = fanfictionResponse.data.fav_authors;
          break;
      }
    };

    const disFollowFanfic = async (fanficId: number, deleteLabel: string, validLabel: string, messageLabel: string) => {
      const alert = await alertController.create({
        cssClass: "disfollow-fanfic",
        message: messageLabel,
        buttons: [
          {
            text: deleteLabel,
            role: "cancel",
            cssClass: "secondary",
            handler: () => {
              console.log("Confirm Cancel");
            },
          },
          {
            text: validLabel,
            handler: async () => {
              console.log("Confirm Okay");
              await store.dispatch("user/deleteStory", {
                  fanficId,
                  userId: store.getters["user/currentUser"].data.id
                })
                .then(() => {
                   const tmp = fanfictionResponse.data.fav_stories.filter(c => c.id !== fanficId)
                   fanfictionsFormatted.value = tmp
                })
                .catch(err => console.log('error', err));
            },
          },
        ],
      });
      return alert.present();
    };

    const disFollowAuthor = async (userTo: number, deleteLabel: string, validLabel: string, messageLabel: string) => {
      const alert = await alertController.create({
        cssClass: "disfollow-author",
        message: messageLabel,
        buttons: [
          {
            text: deleteLabel,
            role: "cancel",
            cssClass: "secondary",
            handler: () => {
              console.log("Confirm Cancel");
            },
          },
          {
            text: validLabel,
            handler: async () => {
              console.log("Confirm Okay");
              await store.dispatch("user/deleteAuthor", {
                  userTo,
                  userFrom: store.getters["user/currentUser"].data.id
                })
                .then(() => {
                   const tmp = fanfictionResponse.data.fav_authors.filter(c => c.id !== userTo)
                   fanfictionsFormatted.value = tmp
                })
                .catch(err => console.log('error', err));
            },
          },
        ],
      });
      return alert.present();
    };


    onMounted(async () => {
      try {
        const response = await store.dispatch("user/getFavoritesFanfics", {
          username: store.getters["user/currentUser"].data.username,
        });
        fanfictionResponse = response;
        // init authors first
        fanfictionsFormatted.value = fanfictionResponse.data.fav_authors;
      } catch (error) {
        console.log("error", error);
      }
    });

    return {
      store,
      disFollowAuthor,
      disFollowFanfic,
      fanfictionsFormatted,
      segmentChanged,
      segment,
      router,
    };
  }
  /* methods: {
    ...mapActions("user", ["getFavoritesFanfics"]),
    async getFavorites() {
      await this.getFavoritesFanfics({
          username: this.currentUser.data.username}).then((response: any) => {
        console.log('response', response)
      })
    },
    ionViewDidEnter() {
      this.getFavorites();
    }
  } */
};
</script>
