<template>
  <ion-page class="ion-page ion-text-center">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="" default-href="/home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-content>
      <div class="login-logo">
        <h1 class="logo-fanfiction">{{ title }}</h1>
        <img src="../assets/images/login.svg" />
      </div>
      <h1>{{ $t("loginPage.title") }}</h1>
      <ion-icon slot="end" :icon="personAdd"></ion-icon>
      <v-form v-slot="{ values, errors }" @submit="handleLogin" novalidate>
        <ion-list lines="none">
          <ion-item>
            <ion-label position="stacked" color="primary">{{
              $t("loginPage.usernameLabel")
            }}</ion-label>
            <v-field name="username" v-slot="{ field }" :rules="required">
              <ion-input
                v-bind="field"
                name="username"
                type="text"
                spellcheck="false"
                autocapitalize="off"
              ></ion-input>
            </v-field>
          </ion-item>
          <v-error-message name="username"></v-error-message>

          <ion-item>
            <ion-label position="stacked" color="primary">{{
              $t("loginPage.passwordLabel")
            }}</ion-label>
            <v-field name="password" v-slot="{ field }" :rules="required">
              <ion-input
                v-bind="field"
                name="password"
                id="password"
                type="password"
              ></ion-input>
            </v-field>
          </ion-item>

          <v-error-message name="password"></v-error-message>
        </ion-list>

        <ion-row responsive-sm>
          <ion-col>
            <ion-button
              type="submit"
              expand="block"
              color="primary"
              fill="clear"
              >{{ $t("loginPage.buttonSigninLabel") }}</ion-button
            >
          </ion-col>
        </ion-row>

        <div class="sign-up">
          {{ $t("loginPage.buttonSignupText") }}
          <ion-button
            color="dark"
            size="small"
            fill="clear"
            @click="router.push('/signup')"
            >{{ $t("loginPage.buttonSignupLabel") }}</ion-button
          >
        </div>
        <div>{{ values }}</div>
        <div>{{ errors }}</div>
      </v-form>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonList,
  IonRow,
  IonCol,
  IonButton,
  IonIcon,
  IonItem,
  IonLabel,
  IonInput,
  alertController,
  IonContent,
  IonPage,
  IonToolbar,
  IonBackButton,
  IonButtons,
} from "@ionic/vue";
import { useRouter } from "vue-router";
import { logIn, personAdd } from "ionicons/icons";
import { mapGetters, mapActions } from "vuex";
import * as V from "vee-validate/dist/vee-validate";
import { defineRule } from "vee-validate";
import { required } from "@vee-validate/rules";

export default {
  name: "Login",
  components: {
    IonButtons,
    IonList,
    IonRow,
    IonCol,
    IonInput,
    IonItem,
    IonIcon,
    IonLabel,
    IonButton,
    IonContent,
    IonPage,
    VField: V.Field,
    VForm: V.Form,
    VErrorMessage: V.ErrorMessage,
    IonToolbar,
    IonBackButton,
  },
  setup() {
    const router = useRouter();
    defineRule("required", required);

    return {
      router,
      logIn,
      personAdd,
      required,
    };
  },
  data() {
    return {
      form: {
        username: "",
        password: "",
      },
    };
  },
  computed: {
    ...mapGetters("auth", [
      "authenticating",
      "authenticationError",
      "authenticationErrorCode",
    ]),
    title() {
      return `${process.env.VUE_APP_NAME}`;
    },
  },
  methods: {
    ...mapActions("auth", ["login"]),
    async handleLogin(values: any) {
      // alert(JSON.stringify(values, null, 2));
      const loginUser = {
        username: values.username,
        password: values.password,
      };
      this.login(loginUser)
        .then(() => {
          // values.username = "";
          // values.password = "";
          this.router.push("/tabs/browse-fanfictions");
        })
        .catch(async (err: any) => {
          const errorAlert = await alertController.create({
            message: err,
            buttons: [this.$t("genericLabel.valid")],
          });
          await errorAlert.present();
        });
    },
  },
};
</script>

<style scoped>
.login-logo {
  padding: 20px 0;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
}

.login-logo img {
  max-width: 28%;
  margin-top: -20px;
}

@media screen and (max-width: 768px) {
  .login-logo {
    padding: 0;
  }

  .login-logo img {
    max-width: 70%;
    margin-top: -10px;
  }
}

.list {
  margin-bottom: 0;
}

.sign-up {
  align-items: center;
  display: flex;
  justify-content: center;
}
</style>