<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ $t("morePage.subtitle") }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">{{ $t("morePage.subtitle") }}</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-list>
        <ion-item-group>
          <ion-item-divider>
            <ion-label>{{ $t("morePage.fanfictions") }}</ion-label>
          </ion-item-divider>

          <ion-item button lines="none" @click="router.push('/my-fanfictions')">
            <ion-icon :icon="bookOutline" slot="start"></ion-icon>
            <ion-label>{{ $t("morePage.all") }}</ion-label>
          </ion-item>

          <ion-item-divider>
            <ion-label>{{ $t("morePage.account") }}</ion-label>
          </ion-item-divider>

          <ion-item button @click="router.push('/email-change')">
            <ion-icon slot="start" :icon="mailOutline"></ion-icon>
            <ion-label>{{ $t("morePage.changeEmail") }}</ion-label>
          </ion-item>

          <ion-item button @click="router.push('/password-change')">
            <ion-icon slot="start" :icon="lockClosedOutline"></ion-icon>
            <ion-label>{{ $t("morePage.changePassword") }}</ion-label>
          </ion-item>

          <ion-item lines="none" detail="false" button @click="handleSignOut()">
            <ion-icon slot="start" :icon="logOutOutline"></ion-icon>
            <ion-label>{{ $t("morePage.logout") }}</ion-label>
          </ion-item>

          <ion-item-divider>
            <ion-label>{{ $t("morePage.username") }}</ion-label>
          </ion-item-divider>

          <ion-item button @click="router.push('/edit-profile')">
            <ion-icon slot="start" :icon="personCircleOutline"></ion-icon>
            <ion-label>{{ $t("morePage.editProfile") }}</ion-label>
          </ion-item>
          <ion-item button @click="router.push('/sns')">
            <ion-icon slot="start" :icon="shareSocialOutline"></ion-icon>
            <ion-label>{{ $t("morePage.socialAccount") }}</ion-label>
          </ion-item>
          <ion-item button @click="router.push('/username-change')">
            <ion-icon slot="start" :icon="idCardOutline"></ion-icon>
            <ion-label>{{ $t("morePage.changeUsername") }}</ion-label>
          </ion-item>
          <ion-item button lines="none" @click="deleteAccount()">
            <ion-icon slot="start" :icon="alertCircleOutline"></ion-icon>
            <ion-label>{{ $t("morePage.deleteAccount") }}</ion-label>
          </ion-item>

          <ion-item-divider>
            <ion-label>{{ $t("morePage.options") }}</ion-label>
          </ion-item-divider>

          <ion-item>
            <ion-icon slot="start" :icon="languageOutline"></ion-icon>
            <ion-label>{{ $t("morePage.language") }}</ion-label>
            <ion-select
              @ionChange="switchLanguage($event)"
              :value="$i18n.locale"
              :ok-text="$t('genericLabel.valid')"
              :cancel-text="$t('genericLabel.cancel')"
            >
              <ion-select-option value="en">{{
                $t("morePage.switcherLanguage.englishLabel")
              }}</ion-select-option>
              <ion-select-option value="fr">{{
                $t("morePage.switcherLanguage.frenchLabel")
              }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item button detail="false" lines="none" @click="clearCache()">
            <ion-label>{{ $t("morePage.cache") }}</ion-label>
          </ion-item>

          <ion-item-divider>
            <ion-label>{{ $t("morePage.about") }}</ion-label>
          </ion-item-divider>

          <ion-item button @click="goToWebview('notice', 'posts/list')">
            <ion-icon slot="start" :icon="newspaperOutline"></ion-icon>
            <ion-label>{{ $t("morePage.notice") }}</ion-label>
          </ion-item>
          <ion-item
            button
            @click="goToWebview('help', 'help/foire-aux-questions')"
          >
            <ion-icon slot="start" :icon="helpOutline"></ion-icon>
            <ion-label>{{ $t("morePage.help") }}</ion-label>
          </ion-item>
          <ion-item button @click="goToWebview('lexique', 'help/browse/title')">
            <ion-icon slot="start" :icon="helpOutline"></ion-icon>
            <ion-label>{{ $t("morePage.lexique") }}</ion-label>
          </ion-item>
          <ion-item button @click="goToStaticPage('terms')">
            <ion-label>{{ $t("morePage.terms") }}</ion-label>
          </ion-item>
          <ion-item button @click="goToStaticPage('privacy')">
            <ion-label>{{ $t("morePage.privacy") }}</ion-label>
          </ion-item>
          <ion-item button @click="goToStaticPage('personal')">
            <ion-label>{{ $t("morePage.personal") }}</ion-label>
          </ion-item>
          <ion-item button @click="goToStaticPage('license')">
            <ion-label>{{ $t("morePage.license") }}</ion-label>
          </ion-item>
          <ion-item button @click="router.push('/contact')">
            <ion-icon slot="start" :icon="sendOutline"></ion-icon>
            <ion-label>{{ $t("morePage.contact") }}</ion-label>
          </ion-item>
          <ion-item button @click="goToStaticPage('version', currentVersion)">
            <ion-label>{{ $t("morePage.version") }}</ion-label>
          </ion-item>
          <ion-item button lines="none" detail="false">
            <ion-label> {{ $t("morePage.darkMode") }}</ion-label>
            <ion-toggle
              slot="end"
              @ionChange="toggleTheme($event)"
            ></ion-toggle>
          </ion-item>
        </ion-item-group>
      </ion-list>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonHeader,
  IonToolbar,
  IonTitle,
  IonContent,
  IonItem,
  IonItemDivider,
  IonList,
  IonItemGroup,
  IonLabel,
  IonIcon,
  alertController,
  IonSelect,
  IonSelectOption,
  IonToggle,
} from "@ionic/vue";
import {
  logOutOutline,
  addOutline,
  bookOutline,
  notificationsOutline,
  mailOutline,
  lockClosedOutline,
  shareSocialOutline,
  idCardOutline,
  alertCircleOutline,
  languageOutline,
  helpOutline,
  sendOutline,
  newspaperOutline,
  personCircleOutline,
} from "ionicons/icons";
import { mapActions } from "vuex";
import { useRouter } from "vue-router";

export default {
  name: "More",
  components: {
    IonHeader,
    IonToolbar,
    IonTitle,
    IonContent,
    IonPage,
    IonItem,
    IonItemDivider,
    IonList,
    IonItemGroup,
    IonLabel,
    IonIcon,
    IonSelect,
    IonSelectOption,
    IonToggle,
  },
  data() {
    return {
      currentVersion: `
      <div style="text-align: center;">
        <h1>Fanfiction</h1>
        <p>Current version ${process.env.VUE_APP_GIT_HASH}</p>
        <p>&copy; FANFICTION 2018 - ${new Date().getFullYear()}</p>
        </div>
      `,
    };
  },
  setup() {
    const router = useRouter();
    return {
      router,
      logOutOutline,
      addOutline,
      bookOutline,
      notificationsOutline,
      mailOutline,
      lockClosedOutline,
      shareSocialOutline,
      idCardOutline,
      alertCircleOutline,
      languageOutline,
      helpOutline,
      sendOutline,
      newspaperOutline,
      personCircleOutline,
    };
  },
  methods: {
    ...mapActions("auth", ["logout"]),
    ...mapActions("more", ["disableAccountUser"]),
    async handleSignOut() {
      await this.logout().then(() => {
        this.router.push("/home");
      });
    },
    async clearCache() {
      const alert = await alertController.create({
        cssClass: "clear-cache",
        header: this.$t("morePage.cache"),
        message: this.$t("morePage.alertCleanCache.message"),
        buttons: [
          {
            text: this.$t("genericLabel.cancel"),
            role: "cancel",
            cssClass: "secondary",
            handler: () => {
              console.log("Confirm Cancel");
            },
          },
          {
            text: this.$t("genericLabel.valid"),
            handler: () => {
              console.log("Confirm Okay");
            },
          },
        ],
      });
      return alert.present();
    },
    async deleteAccount() {
      const alert = await alertController.create({
        cssClass: "clear-cache",
        header: this.$t("morePage.deleteAccount"),
        message: this.$t("morePage.alertDeleteAccount.message"),
        buttons: [
          {
            text: this.$t("genericLabel.cancel"),
            role: "cancel",
            cssClass: "secondary",
            handler: () => {
              console.log("Confirm Cancel");
            },
          },
          {
            text: this.$t("genericLabel.valid"),
            handler: async() => {
              console.log("Confirm Okay");
              await this.disableAccountUser().then(() => {
                this.handleSignOut();
              });
            },
          },
        ],
      });
      return alert.present();
    },
    goToStaticPage(slug: string, rawText?: string) {
      this.router.push({
        name: "static-page",
        params: { slug, rawHtml: rawText },
      });
    },
    goToWebview(slug: string, url: string) {
      this.router.push({ name: "webview", params: { slug, url } });
    },
    switchLanguage(event: any) {
      event.preventDefault();
      const locale = event.detail.value;
      console.log(locale);
    },
    toggleTheme(event: any) {
      if (event.detail.checked) {
        document.body.setAttribute("color-theme", "dark");
      } else {
        document.body.setAttribute("color-theme", "light");
      }
    },
  },
};
</script>