<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ $t("searchPage.title") }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">{{ $t("searchPage.title") }}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-searchbar
        animated
        debounce="500"
        show-cancel-button="focus"
        :placeholder="$t('searchPage.placeholder')"
        :cancel-button-text="$t('genericLabel.cancel')"
        @keyup.enter="search($event)"
      ></ion-searchbar>

      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col
            v-for="genre in genres"
            :key="genre[0]"
            size-lg="3"
            size-md="6"
            size-sm="2"
            @click="
              router.push({
                path: '/ranking',
                query: { keyword: 'genres', params: genre[0] },
              })
            "
          >
            <img
              :src="require('@/assets/icon/' + genre[0].toLowerCase() + '.svg')"
            />
            <div class="ion-text-center">{{ genre[1] }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonHeader,
  IonToolbar,
  IonTitle,
  IonContent,
  IonGrid,
  IonRow,
  IonCol,
  IonSearchbar,
} from "@ionic/vue";
import { mapActions } from "vuex";
import { useRouter } from "vue-router";

export default {
  name: "Dashboard",
  components: {
    IonHeader,
    IonToolbar,
    IonTitle,
    IonContent,
    IonPage,
    IonGrid,
    IonRow,
    IonCol,
    IonSearchbar,
  },
  data() {
    return {
      genres: [],
    };
  },
  setup() {
    const router = useRouter();

    const search = (evt: any) => {
      router.push({
        path: "/ranking",
        query: { keyword: "search", params: evt.target.value },
      });
    };

    return {
      router,
      search,
    };
  },
  methods: {
    ...mapActions("protectedArea", ["loadGenres"]),
    async loadGenresData() {
      await this.loadGenres().then((res: any) => {
        this.genres = res.data[0].genres;
      });
    },
    searchByGenre(genre: any) {
      console.log("genre", genre);
    },
    ionViewDidEnter() {
      this.loadGenresData();
    },
  },
};
</script>