<template>
  <ion-page class="ion-page ion-text-center">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="" default-href="/home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-content>
      <div class="signup-logo">
        <h1 class="logo-fanfiction">{{ title }}</h1>
      </div>
      <h1>{{ $t("signupPage.title") }}</h1>
      <v-form v-slot="{ values, errors }" @submit="handleSignup">
        <ion-list lines="none">
          <ion-item>
            <ion-label position="stacked" color="primary">{{
              $t("loginPage.usernameLabel")
            }}</ion-label>
            <v-field name="username" v-slot="{ field }" :rules="required">
              <ion-input
                v-bind="field"
                name="username"
                id="username"
              ></ion-input>
            </v-field>
          </ion-item>
          <v-error-message name="username"></v-error-message>

          <ion-item>
            <ion-label position="stacked" color="primary">{{
              $t("loginPage.passwordLabel")
            }}</ion-label>
            <v-field name="password" v-slot="{ field }" :rules="required">
              <ion-input
                v-bind="field"
                type="password"
                name="password"
                id="password"
              ></ion-input>
            </v-field>
          </ion-item>
          <v-error-message name="password"></v-error-message>

          <ion-item>
            <ion-label position="stacked" color="primary">{{
              $t("signupPage.confirmPasswordLabel")
            }}</ion-label>
            <v-field
              name="password2"
              v-slot="{ field }"
              rules="confirmed:@password"
            >
              <ion-input
                v-bind="field"
                type="password"
                name="password2"
                id="password2"
              ></ion-input>
            </v-field>
          </ion-item>
          <v-error-message name="password2"></v-error-message>

          <ion-item>
            <ion-label position="stacked" color="primary">{{
              $t("signupPage.emailLabel")
            }}</ion-label>
            <v-field name="email" v-slot="{ field }" :rules="required && email">
              <ion-input v-bind="field" name="email" id="email"></ion-input>
            </v-field>
          </ion-item>
          <v-error-message name="email"></v-error-message>

          <ion-item>
            <ion-label position="stacked" color="primary">{{
              $t("signupPage.firstNameLabel")
            }}</ion-label>
            <v-field name="firstName" v-slot="{ field }">
              <ion-input
                v-bind="field"
                name="firstName"
                id="firstName"
              ></ion-input>
            </v-field>
          </ion-item>
          <v-error-message name="firstName"></v-error-message>

          <ion-item>
            <ion-label position="stacked" color="primary">{{
              $t("signupPage.lastNameLabel")
            }}</ion-label>
            <v-field name="lastName" v-slot="{ field }">
              <ion-input
                v-bind="field"
                name="lastName"
                id="lastName"
              ></ion-input>
            </v-field>
          </ion-item>
          <v-error-message name="lastName"></v-error-message>
        </ion-list>

        <ion-button type="submit" fill="clear" expand="block">
          {{ $t("loginPage.buttonSignupLabel") }}
        </ion-button>
        <!-- <p>{{ $t("signupPage.alreadyAccountLabel") }}</p>
            <ion-button
              type="button"
              expand="block"
              shape="round"
              router-link="/login"
            >
              {{ $t("loginPage.buttonSigninLabel") }}
              <ion-icon slot="end" :icon="logIn"></ion-icon>
            </ion-button>-->
        <div>{{ values }}</div>
        <div>{{ errors }}</div>
      </v-form>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonList,
  IonPage,
  IonContent,
  IonItem,
  IonLabel,
  IonButton,
  IonInput,
  alertController,
  IonToolbar,
  IonBackButton,
  IonButtons,
} from "@ionic/vue";
import { logIn, personAdd } from "ionicons/icons";
import { mapActions, mapGetters } from "vuex";
import * as V from "vee-validate/dist/vee-validate";
import { defineRule } from "vee-validate/dist/vee-validate";
import { email, required, min } from "@vee-validate/rules";
import { useRouter } from "vue-router";

export default {
  name: "Signup",
  components: {
    IonButtons,
    IonList,
    IonPage,
    IonContent,
    IonItem,
    IonLabel,
    IonButton,
    IonInput,
    VField: V.Field,
    VForm: V.Form,
    VErrorMessage: V.ErrorMessage,
    IonToolbar,
    IonBackButton,
  },
  setup() {
    const router = useRouter();

    // vee-validate rules
    defineRule("email", email);
    defineRule("required", required);
    defineRule("min", min);
    defineRule("confirmed", (value, [target]) => {
      if (value === target) {
        return true;
      }

      return "Passwords must match";
    });

    // custom validators
    const isRequired = (value: any) => {
      if (!value) {
        return `${value} est requis`;
      }
      return true;
    };
    return {
      logIn,
      personAdd,
      isRequired,
      email,
      required,
      min,
      router,
      // confirmed,
    };
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters("auth", ["authenticationError", "authenticationErrorCode"]),
    title() {
      return `${process.env.VUE_APP_NAME}`;
    },
  },
  methods: {
    ...mapActions("auth", ["signup", "login"]),
    async handleSignup(values: any) {
      // alert(JSON.stringify(values, null, 2));
      const registerUser = {
        email: values.email,
        username: values.username,
        password: values.password,
        password2: values.password2,
        firstName: values.firstName ? values.firstName : '',
        lastName: values.lastName ? values.lastName : '',
      };
      const data = await this.signup(registerUser);
      if (data) {
        this.login({
          username: values.username,
          password: values.password,
        }).then(() => {
          // values.username = "";
          // values.password = "";
          this.router.push("/tabs/browse-fanfictions");
        });
      } else {
        const alert = await alertController.create({
          message: "Error",
          buttons: [this.$t("genericLabel.valid")],
        });
        await alert.present();
      }
    },
  },
};
</script>

<style scoped>
</style>