<template>
  <ion-page>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1" href="/tabs/browse-fanfictions">
          <ion-icon :icon="listOutline" />
          <ion-label>{{ $t('browsePage.title')}}</ion-label>
        </ion-tab-button>
          
        <ion-tab-button tab="tab2" href="/tabs/search">
          <ion-icon :icon="search" />
          <ion-label>{{ $t('searchPage.title')}}</ion-label>
        </ion-tab-button>
        
        <ion-tab-button tab="tab3" href="/tabs/more">
          <ion-icon :icon="personOutline" />
          <ion-label>{{ $t('morePage.title')}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab4" href="/tabs/dashboard">
          <ion-icon :icon="heart" />
          <ion-label>{{ $t('favorisPage.title')}}</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-page>
</template>

<script lang="ts">
import { IonTabBar, IonTabButton, IonTabs, IonLabel, IonIcon, IonPage } from '@ionic/vue';
import { heart, personOutline, listOutline, search } from 'ionicons/icons';

export default {
  name: 'Tabs',
  components: { IonLabel, IonTabs, IonTabBar, IonTabButton, IonIcon, IonPage },
  setup() {
    return {
      heart, 
      personOutline, 
      listOutline,
      search,
    }
  }
}
</script>