<template>
  <ion-page>
    <h1 class="logo-fanfiction">{{ title }}</h1>
    <ion-slides pager="true" :options="slideOpts">
      <ion-slide class="slide">
        <img src="../assets/images/slides/slide-1.svg" />
        <p>{{ $t('welcomePage.textSlide1') }}</p>
      </ion-slide>
      <ion-slide class="slide">
        <img src="../assets/images/slides/slide-2.svg" />
         <p>{{ $t('welcomePage.textSlide2') }}</p>
      </ion-slide>
      <ion-slide class="slide">
        <img src="../assets/images/slides/slide-3.svg" />
         <p>{{ $t('welcomePage.textSlide3') }}</p>
      </ion-slide>
    </ion-slides>
    <ion-button fill="clear" color="primary" @click="router.push('/login')" type="button">{{
      $t("welcomePage.loginWithEmailLabel")
    }}</ion-button>
  </ion-page>
</template>

<script lang="ts">
import { IonPage, IonButton, IonSlides, IonSlide } from "@ionic/vue";
import { useRouter } from "vue-router";
export default {
  name: "Welcome",
  components: {
    IonPage,
    IonButton,
    IonSlides,
    IonSlide,
  },
  computed: {
    title() {
      return `${process.env.VUE_APP_NAME}`
    }
  },
  setup() {
    const router = useRouter();
    const slideOpts = {
      initialSlide: 0,
      speed: 400,
    };
    return {
      router,
      slideOpts,
    };
  },
};
</script>

<style scoped>
.swiper-container {
  width: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.slide > img {
  max-width: 100%;
  width: 250px;
  height: auto;
}

.slide > p {
  padding: 12px 0;
}
</style>