<template>
  <form @submit.prevent="$emit('submit')" novalidate>
      <ion-item>
        <ion-label position="floating">{{ $t("morePage.contactForm.subjectLabel") }}</ion-label>
        <ion-input v-model="textState" type="text"
        @keyup="validateText"
        @blur="validateText"></ion-input>
      </ion-item>
      
    <ion-item>
      <ion-label position="floating">{{ $t("morePage.contactForm.messageLabel") }}</ion-label>
      <ion-textarea
        v-model="messageState"
        @keyup="validateMessage"
        @blur="validateMessage"
      >
      </ion-textarea>
    </ion-item>
    <div>
      <ion-button color="primary" expand="full" type="submit" :disabled="isSubmitButtonDisabled || disabled">{{ $t("morePage.contactForm.validButton") }}</ion-button>
    </div>
  </form>
</template>

<script>
import { useVModel } from "@/composables/useVModel.ts";
import { IonLabel, IonItem, IonInput, IonTextarea, IonButton } from "@ionic/vue";
import { useSubmitButtonState } from "@/helpers/form-helpers";
import { useFormValidation } from "@/helpers/validators";
import { ref } from '@vue/reactivity';

export default {
  emits: ["update:text", "update:message", "submit"],
  props: {
    text: String,
    message: String,
  },
  setup(props) {

    const { validateNameField, errors } = useFormValidation();

    const disabled = ref(true)

    const { isSubmitButtonDisabled } = useSubmitButtonState(
      props,
      errors
    );

    const validateText = () => {
      validateNameField("text", props.text);
      if (errors.text) {
        disabled.value = true;
      } else {
        disabled.value = false;
      }
    };
    const validateMessage = () => {
      validateNameField("message", props.message);
      if (errors.message) {
        disabled.value = true;
      } else {
        disabled.value = false;
      }
    };

    return {
      textState: useVModel(props, "text"),
      messageState: useVModel(props, "message"),
      isSubmitButtonDisabled,
      validateText,
      validateMessage,
      disabled
    };
  },
  components: {
    IonInput,
    IonLabel,
    IonItem,
    IonTextarea,
    IonButton
  },
};
</script>
