<template>
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button @click="dismissModal()">
          <ion-icon slot="icon-only" :icon="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-text color="primary">
      <h3>{{ $t("infoModal.synopsisLabel") }}</h3>
    </ion-text>
    <p>{{ fanfic.synopsis }}</p>

    <h3>
      {{ $t("infoModal.creatorLabel") }}
      <ion-text color="primary">{{ fanfic.author.username }}</ion-text>
    </h3>
    <ion-badge @click="!isFollowedAuthor(fanfic.author.id) ? subscribeAuthor(fanfic.author.id, fanfic.author.username) : unsubscribeAuthor(fanfic.author.id, fanfic.author.username)" color="primary">{{ !isFollowedAuthor(fanfic.author.id) ? $t("infoModal.subscribeAuthor") : $t("infoModal.unsubscribeAuthor") }}</ion-badge>
  </ion-content>
</template>

<script lang="ts">
import {
  IonContent,
  IonHeader,
  IonToolbar,
  IonButtons,
  IonButton,
  modalController,
  IonIcon,
  IonText,
  IonBadge,
  toastController,
} from "@ionic/vue";
import { close } from "ionicons/icons";
import { defineComponent, ref } from "vue";
import { mapGetters } from "vuex";
import { useStore } from "vuex";

export default defineComponent({
  name: "InfoModal",
  props: {
    fanfic: {
      type: Object,
      required: true,
    },
  },
  components: {
    IonContent,
    IonHeader,
    IonToolbar,
    IonButtons,
    IonButton,
    IonIcon,
    IonText,
    IonBadge,
  },
  computed: {
    ...mapGetters("user", ["currentUser"]),
  },
  setup() {
    const store = useStore();
    const authorsFavorites = ref([]) as any;

    const dismissModal = async () => {
      await modalController.dismiss();
    };

    const subscribeAuthor = async (userTo: number, userName: string) => {
      await store
        .dispatch("user/addAuthor", {
          userTo,
          userFrom: store.getters["user/currentUser"].data.id,
        })
        .then(async () => {
          const toast = await toastController.create({
            header: 'Merci !',
            message: `Vous êtes abonner aux publications de ${userName}`,
            duration: 2000
          })
          return toast.present();
        })
        .catch((err) => console.log("error", err));
    };

    const unsubscribeAuthor = async (userTo: number, userName: string) => {
      await store
        .dispatch("user/deleteAuthor", {
          userTo,
          userFrom: store.getters["user/currentUser"].data.id,
        })
        .then(async () => {
          const toast = await toastController.create({
            message: `Vous êtes désabonner aux publications de ${userName}`,
            duration: 2000
          })
          return toast.present();
        })
        .catch((err) => console.log("error", err));
    };

    const getFollowAuthor = async () => {
      try {
        const response = await store.dispatch("user/getFollowCreators");
        authorsFavorites.value = response.data.map(user => {return {
          'user_from' : user.user_from,
          'user_to': user.user_to
        }});
      } catch (error) {
        console.log('error', error);
      }
    };

    const isFollowedAuthor = (userTo: number) => {
      if (userTo === undefined) {
        return;
      }
      const authorsIncluded = authorsFavorites.value.find(u => u.user_from === store.getters["user/currentUser"].data.id && u.user_to === userTo);

      return authorsIncluded;
    }

    getFollowAuthor();

    return {
      store,
      close,
      authorsFavorites,
      dismissModal,
      subscribeAuthor,
      unsubscribeAuthor,
      getFollowAuthor,
      isFollowedAuthor
    };
  },
});
</script>