<template>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>{{ $t("shareModal.title") }}</ion-title>
      <ion-buttons slot="end">
        <ion-button @click="dismissModal(false)">
          <ion-icon slot="icon-only" :icon="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <form @submit.prevent novalidate>
      <ion-list>
        <ion-item>
          <ion-label color="primary" position="floating">{{
            $t("shareModal.destinataireLabel")
          }}</ion-label>
          <ion-input
            type="email"
            name="email"
            :placeholder="$t('shareModal.destinataireLabel')"
            v-model="form.to"
            @keyup="validateInput"
            @blur="validateInput"
          ></ion-input>
        </ion-item>
        <div class="ui basic label pointing red" v-if="errors?.email">
          {{ errors?.email }}
        </div>
        <ion-item>
          <ion-label color="primary" position="floating">{{
            $t("shareModal.commentLabel")
          }}</ion-label>
          <ion-textarea
            rows="5"
            :placeholder="$t('shareModal.commentLabel')"
            v-model="form.comments"
          ></ion-textarea>
        </ion-item>
      </ion-list>
      <ion-row>
        <ion-col>
          <ion-button
            @click="dismissModal(true)"
            :disabled="isSubmitButtonDisabled || disabled"
            expand="block"
            type="submit"
            >{{ $t("shareModal.shareButton") }}</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button
            expand="block"
            color="danger"
            @click="dismissModal(false)"
            >{{ $t("shareModal.cancelButton") }}</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </ion-content>
</template>

<script lang="ts">
import {
  IonContent,
  IonHeader,
  IonToolbar,
  IonTitle,
  IonLabel,
  IonButtons,
  IonButton,
  IonItem,
  modalController,
  IonInput,
  IonTextarea,
  IonRow,
  IonCol,
  IonIcon,
  IonList,
} from "@ionic/vue";
import { close } from "ionicons/icons";
import { defineComponent, reactive, ref } from "vue";
import { useStore } from "vuex";
import { useSubmitButtonState } from "@/helpers/form-helpers";
import { useFormValidation } from "@/helpers/validators";

export default defineComponent({
  name: "ShareModal",
  props: {
    fanficId: {
      type: Number,
      required: true,
    },
  },
  components: {
    IonContent,
    IonHeader,
    IonToolbar,
    IonTitle,
    IonLabel,
    IonButtons,
    IonButton,
    IonItem,
    IonList,
    IonIcon,
    IonInput,
    IonTextarea,
    IonRow,
    IonCol,
  },
  setup(props) {
    const store = useStore();
    const disabled = ref(true);
    const form = reactive({
      to: "",
      comments: "",
    });

    const { validateEmailField, errors } = useFormValidation() as any;

    const { isSubmitButtonDisabled } = useSubmitButtonState(
      form,
      errors
    ) as any;

    const validateInput = () => {
      validateEmailField("email", form.to);
      if (errors.email) {
        disabled.value = true;
      } else {
        disabled.value = false;
      }
    };

    
    const dismissModal = async (success: boolean) => {
      const response = {
        success,
        fanficId: success ? props.fanficId : null,
        to: success ? form.to : null,
        comments: success ? form.comments : "",
      };
      await modalController.dismiss(response);
    };

    return {
      store,
      form,
      errors,
      isSubmitButtonDisabled,
      disabled,
      validateInput,
      close,
      dismissModal,
    };
  },
});
</script>